<footer class="footclass border-top sticky-bottom">
  <div class="my-info">
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-github"></i></a>
    <a href=""><i class="fa-brands fa-linkedin"></i></a>
  </div>
  <div class="name">BookMyHotel private limited</div>
  <div class="links">
    <a href="/privacy">privacy</a>
    <a href="/terms">terms</a>
  </div>
</footer>
