<% layout("/layouts/bolerplate")%>
<body>
  <h3>All Listings</h3>
  <ul>
    <% alllistings.forEach(function(list) { %>
    <li>
      <a href="/listing/<%= list._id %>"><%= list.title %></a>
    </li>
    <% }); %>
  </ul>
  <form action="/listings/new" method="get">
    <button>add new listing</button>
  </form>
</body>
