<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wanderlust</title>
  </head>
  <body>
    <h3>all lisitngs</h3>
    <ul>
      <% alllistings.forEach(function(list) { %>
      <li>
        <a href="/listing/<%= list._id %>"><%= list.title %></a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
