<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new listign</title>
  </head>
  <body>
    <form method="post" action="/listings">
      <input name="listing[title]" placeholder="enter title" />
      <br />
      <textarea
        name="listing[description]"
        placeholder="enter description"
      ></textarea>
      />
      <br />
      <input name="listing[image]" placeholder="enter image url" />
      <br /><input name="listing[price]" placeholder="enter price" />
      <br />
      <input name="listing[country]" placeholder="enter title" />
      <br />
      <input name="listing[location]" placeholder="enter title" />
      <br />
      <button>submit</button>
    </form>
  </body>
</html>
